<!DOCTYPE html>
<html ng-app="store">
    <head>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    </head>
    <body ng-controller="StoreController as store">
        <!--ng-controller is the directive, StoreController is the controller name, store is the alias-->
        <ul class="list-group">
            <li class="list-group" ng-repeat="product in store.products">
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price | currency}}</em>
                </h3>
            </li>
        </ul>
        <!--initialize the value of tab to be 1-->
        <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
                <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specification</a></li>
                <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
            </ul>
            <!-- show the appropriate tab when clicked-->
            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Specification</h4>
                <blockquote>None Yet</blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Reviews</h4>
                <blockquote>None Yet</blockquote>
            </div>
        </section>

        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>